/* Re-using LandingPage styles */
.homePageContainer {
  width: 100vw;
  height: 100vh;
  background: 
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url('/36676994_opoy7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: beige;
}

.homePageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homePageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.homePageContainer .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  align-items: center; /* Better alignment */
}
.homePageContainer .navlist [role="button"] {
  font-weight: 600;
}


.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3.5rem;
  height: 90vh;
  align-items: center;
}

.landingMainContainer img {
  width: auto;
  height: 80vh;
}

.bigHeading {
  font-size: 2rem;
}

/* --- NEW STYLES for Home.js content --- */

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 2.5rem;
  align-items: center;
}

.create-container {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgb(90, 90, 90); /* Divider */
}

/* --- NEW STYLES for MUI Overrides --- */

/* Join Button (Primary) */
.input-container .MuiButton-containedPrimary {
  background-color: rgb(255, 128, 0);
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 14px 20px;
  white-space: nowrap; /* Prevent "Join" from wrapping */
}
.input-container .MuiButton-containedPrimary:hover {
  background-color: rgb(235, 135, 14);
}

/* Create Button (Secondary) */
.create-container .MuiButton-outlinedSecondary {
  border-color: rgb(235, 135, 14);
  color: rgb(235, 135, 14);
  font-weight: 600;
}
.create-container .MuiButton-outlinedSecondary:hover {
  background-color: rgba(235, 135, 14, 0.1);
  border-color: rgb(255, 128, 0);
}


/* TextField overrides for dark theme */
.input-container .MuiOutlinedInput-root {
  /* Label color */
  & .MuiInputLabel-root {
    color: beige;
  }
  /* Border color */
  & .MuiOutlinedInput-notchedOutline {
    border-color: beige;
  }
  /* Input text color */
  & .MuiInputBase-input {
    color: beige;
  }
  
  /* Hover state */
  &:hover .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  /* Focused state */
  &.Mui-focused {
    & .MuiOutlinedInput-notchedOutline {
      border-color: rgb(235, 135, 14); /* Orange highlight */
    }
    & .MuiInputLabel-root {
      color: rgb(235, 135, 14); /* Orange highlight */
    }
  }
}


/* --- Re-using Media Queries --- */
@media (max-width: 1024px) {
  .landingMainContainer {
    display: grid;
    margin-top: 5rem;
    justify-content: space-between;
  }
  .bigHeading {
    margin-bottom: 5rem;
    margin-right: 3.5rem;
  }
  .landingMainContainer img {
    width: auto;
    height: 75vh;
    margin-right: 2.5rem;
    padding-right: 2vh;
    padding-right: 2rem;
  }
}

@media (max-width: 600px) {
  .landingMainContainer {
    display: grid;
    margin-top: 5rem;
    justify-content: space-between;
  }
  .bigHeading {
    font-size: larger;
    margin-bottom: 5rem;
  }
  .landingMainContainer img {
    width: auto;
    height: 45vh;
    margin-right: 2.5rem;
    padding-right: 2vh;
    padding-right: 2rem;
  }
}