body {
  background-color: rgb(0, 0, 0) !important;
  margin: 0;
  padding: 0;
}
.landingPageContainer{
  width: 100vw;
  height: 100vh;
  background: url('/public/36676994_opoy7.jpg');
  background: 
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url('/36676994_opoy7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  color: beige;
}

.landingPageContainer nav{
   padding-inline: 1.2rem;
   padding-block: 1.6rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.landingPageContainer nav h2{
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer .navlist{
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}
.landingMainContainer{
  display: flex;
  justify-content: space-between;
  padding-inline: 3.5rem;
  height: 90vh;
  align-items: center;
  
}
.landingMainContainer img{
  width: auto;
  height: 80vh;
  /* max-width: 100%;
  object-fit: cover; */

}
.bigHeading{
  font-size: 2rem;
}
.linkStart{
  width: fit-content;
  margin-top: 1.1rem;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: rgb(255, 128, 0);
  /* background-color: rgb(235, 135, 14); */
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: "none";
  
}
@media (max-width: 1024px) {
  .landingMainContainer{
  display: grid;
  margin-top: 5rem;
  
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* padding-inline: 3.5rem; */
  /* height: 90vh; */
  /* align-items: center; */

  
}
  .linkStart {
    margin-top: 3rem;
}
.bigHeading{
  
  margin-bottom: 5rem;
  margin-right: 3.5rem;
}
.landingMainContainer img{
  width: auto;
  height: 75vh;
  

  margin-right: 2.5rem;
  padding-right: 2vh;
  padding-right: 2rem;
  
}

}
@media (max-width: 600px) {
  .landingMainContainer{
  display: grid;
  margin-top: 5rem;
  
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* padding-inline: 3.5rem; */
  /* height: 90vh; */
  /* align-items: center; */

  
}
  .linkStart {
    margin-top: 3rem;
}
.bigHeading{
  font-size: larger;
  margin-bottom: 5rem;
  /* margin-right: 3.5rem; */
}
.landingMainContainer img{
  width: auto;
  height: 45vh;
  

  margin-right: 2.5rem;
  padding-right: 2vh;
  padding-right: 2rem;
  
}

}